.hero-container {
  display: flex;
  justify-content: center;
  padding: 0px 60px;
  margin-top: 76px;
  background-color: #fafafa;
}
@media (max-width: 1024px) {
  .hero-container {
    padding: 0px 32px;
  }
}
@media (max-width: 768px) {
  .hero-container {
    padding: 0px 16px;
  }
}
@media (max-width: 480px) {
  .hero-container {
    padding: 0px 12px;
  }
}
.hero-container .background-img-container {
  height: 800px;
  background: #fbf8fc;
  width: 1320px;
  position: relative;
}
@media (max-width: 1440px) {
  .hero-container .background-img-container {
    width: 1080px;
    height: 612px;
  }
}
@media (max-width: 1024px) {
  .hero-container .background-img-container {
    width: 704px;
    height: 428px;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .hero-container .background-img-container {
    width: 448px;
    height: 255px;
  }
}
@media (max-width: 480px) {
  .hero-container .background-img-container {
    width: 296px;
    height: 167px;
  }
}
.hero-container .background-img-container video {
  width: 100%;
  height: 100%;
}
.hero-container .get-started-container {
  display: flex;
  position: absolute;
  top: 196px;
  left: 88px;
  width: 552px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 24px;
  opacity: 0.8;
  background: var(--White, #fff);
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(2px);
}
@media (max-width: 1440px) {
  .hero-container .get-started-container {
    left: 0px;
    top: 113px;
  }
}
@media (max-width: 1024px) {
  .hero-container .get-started-container {
    left: auto;
    right: auto;
    top: 65%;
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .hero-container .get-started-container {
    left: auto;
    right: auto;
    top: 90%;
    padding: 12px;
    gap: 12px;
    width: 424px;
  }
}
@media (max-width: 480px) {
  .hero-container .get-started-container {
    left: auto;
    right: auto;
    top: 90%;
    padding: 12px;
    gap: 12px;
    width: 281px;
  }
}
.hero-container .get-started-container .title {
  color: #2e2e2e;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 112.5% */
  letter-spacing: -3.2px;
}
@media (max-width: 1024px) {
  .hero-container .get-started-container .title {
    font-size: 56px;
  }
}
@media (max-width: 768px) {
  .hero-container .get-started-container .title {
    font-size: 48px;
    line-height: 56px;
  }
}
@media (max-width: 480px) {
  .hero-container .get-started-container .title {
    font-size: 40px;
    line-height: 48px;
  }
}
.hero-container .get-started-container .title span {
  color: #72c420;
}
.hero-container .get-started-container .description {
  color: #2e2e2e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 175% */
  letter-spacing: -0.32px;
  width: 78%;
}
@media (max-width: 768px) {
  .hero-container .get-started-container .description {
    width: 100%;
  }
}
.hero-container .get-started-container .description span {
  color: #72c420;
}
.hero-container .get-started-container .button-container {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}
@media (max-width: 480px) {
  .hero-container .get-started-container .button-container {
    flex-direction: column;
  }
  .hero-container .get-started-container .button-container .action-button {
    width: -webkit-fill-available;
    justify-content: center;
  }
}
.hero-container .get-started-container .button-container .action-button:first-child {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: var(--Green, #72c420);
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.06);
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.hero-container .get-started-container .button-container .action-button:first-child:hover {
  background: #599919;
}
.hero-container .get-started-container .button-container .action-button:last-child {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  color: #2e2e2e;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.hero-container .get-started-container .button-container .action-button:last-child:hover {
  border: 1px solid var(--Black, #2e2e2e);
}
.hero-container .by-prepaire-white-logo {
  width: 114px;
  height: 46px;
  position: absolute;
  right: 169px;
  bottom: 112px;
  display: block;
}
@media (max-width: 1440px) {
  .hero-container .by-prepaire-white-logo {
    display: none;
  }
}
.hero-container .by-prepaire-logo {
  width: 114px;
  height: 46px;
  position: absolute;
  right: 10px;
  bottom: 60px;
}
@media (max-width: 1024px) {
  .hero-container .by-prepaire-logo {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */