.potential-grants-outter-container {
  display: flex;
  justify-content: center;
  .potential-grants {
    display: flex;
    max-width: 1024px;
    padding: 60px 0px 40px 0px;
    gap: 80px;
    display: flex;
    align-items: center;
    gap: 120px;
    align-self: stretch;
    @media (max-width: 1440px) {
      gap: 64px;
    }
    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column-reverse;
      gap: 48px;
    }
    .grant-chat-example-container {
      display: flex;
      flex-direction: column;
      width: calc((100% - 120px) / 2);
      gap: 18px;
      @media (max-width: 1080px) {
        width: 51%;
      }
      @media (max-width: 953px) {
        width: 60%;
      }

      @media (max-width: 780px) {
        width: 70%;
      }
      @media (max-width: 680px) {
        width: 80%;
      }
      @media (max-width: 580px) {
        width: 90%;
      }
      @media (max-width: 480px) {
        width: 100%;
      }
      .grant-chat-example-1 {
        display: flex;
        justify-content: flex-start;
        @media (max-width: 480px) {
          justify-content: center;
        }
        img {
          @media (max-width: 480px) {
            width: 80%;
          }
        }
      }
      .grant-chat-example-2 {
        display: flex;
        justify-content: flex-end;
        @media (max-width: 480px) {
          justify-content: center;
        }
        img {
          @media (max-width: 480px) {
            width: 80%;
          }
        }
      }
    }
    .description-container {
      width: calc((100% - 120px) / 2);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      @media (max-width: 1024px) {
        width: 75%;
        align-items: center;
      }
      .title {
        color: #2b2b2b;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px; /* 108.333% */
        letter-spacing: -2.4px;
        span {
          color: var(--Green, #72c420);
        }
      }
      .description {
        color: #2e2e2e;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 175% */
        letter-spacing: -0.32px;
      }
    }
  }
}
